.ProseMirror {
  font-family:
    'Chinese Quote',
    'Segoe UI',
    Roboto,
    RobotoNum,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.74;
  letter-spacing: 0.008em;
  color: var(--semi-color-text-0);
  word-break: break-word;
  word-wrap: break-word;
  white-space: break-spaces;
  outline: none !important;

  &:focus-visible {
    outline: none;
  }

  a {
    color: var(--semi-color-link);
    text-decoration: underline;
  }

  img {
    border: 1px solid var(--semi-color-border);
    border-radius: var(--border-radius);
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.714;
    letter-spacing: -0.005em;
  }

  blockquote {
    box-sizing: border-box;
    padding-left: 10px;
    border-left: 2px solid var(--semi-color-fill-2);
    margin: 0.75rem 0;
  }

  hr {
    position: relative;
    height: 2px;
    background: var(--semi-color-border);
    border: 0;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12px;
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

.resize-cursor {
  cursor: ew-resize;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  cursor: col-resize;
}

body[theme-mode='dark'] {
  .ProseMirror {
    img {
      opacity: 0.75;
    }
  }
}
