.color {
  white-space: nowrap;

  &::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.1em;
    margin-bottom: 0.15em;
    vertical-align: middle;
    background-color: var(--color);
    border: 1px solid rgb(128 128 128 / 30%);
    border-radius: 2px;
    content: ' ';
  }
}
