.ProseMirror {
  .is-locked {
    position: relative;
    pointer-events: none !important;
    cursor: not-allowed;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      font-weight: bold;
      color: #333;
      pointer-events: none;
      background-color: rgb(179 212 255 / 75%);
      content: attr(data-name);
      align-items: center;
      justify-content: center;
      inset: 0;
    }
  }
}
