.ProseMirror {
  .tableWrapper {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    margin: 0.75em 0 0;

    td,
    th {
      position: relative;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      border-width: 1px;
      border-style: solid;
      border-color: var(--semi-color-fill-2);
      overflow: visible;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      background-color: var(--semi-color-fill-0);
    }

    .selectedCell {
      border-style: double;
      border-color: rgb(0 101 255);
      background: var(--semi-color-info-light-hover);
    }

    .column-resize-handle {
      position: absolute;
      top: 0;
      right: -2px;
      bottom: -2px;
      width: 4px;
      pointer-events: none;
      background-color: #adf;
    }

    p {
      margin: 0;
    }
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
