/* stylelint-disable no-descending-specificity */
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  > header {
    position: relative;
    z-index: 110;
    background-color: var(--semi-color-nav-bg);
    user-select: none;

    .mobileToolbar {
      padding: 12px 16px;
      overflow: auto;
      text-align: center;
      border-bottom: 1px solid var(--semi-color-border);
    }
  }

  > main {
    height: calc(100% - 60px);
    overflow: hidden;
    background-color: var(--semi-color-nav-bg);
    flex: 1;
  }
}

.editorWrap {
  height: 100%;
  overflow: hidden;
}
