.wrap {
  line-height: 0;

  .innerWrap {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 0;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }

    > div {
      flex: 1;
      padding-left: 8px;
    }
  }

  p {
    margin-top: 0.25em;
  }

  p:first-child {
    margin: 0;
  }

  ul {
    padding-left: 1em;
    margin: 0;
  }

  .handlerWrap {
    display: flex;
    padding: 10px;
  }

  [data-node-view-content] {
    [data-drag-handle] {
      opacity: 0 !important;
    }
  }
}
