.wrap {
  display: flex;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: var(--semi-color-fill-0);
  border: 1px solid var(--node-border-color);
  border-radius: var(--border-radius);
  flex-direction: column;

  .handlerWrap {
    display: flex;
    padding: 10px;
  }

  .innerWrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    flex: 1;
  }

  .emptyWrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  :global {
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
