/* stylelint-disable */
.wrap {
  .statusWrap {
    padding: 10px 12px;
    margin-top: 16px;
    border: 1px solid var(--semi-color-border);
    border-radius: 4px;

    .title {
      margin-bottom: 16px;
    }
  }
}
