.wrap {
  padding: 12px;
  border-radius: var(--border-radius);
  user-select: none;

  .itemWrap {
    display: flex;
    padding: 6px;
    margin-top: 12px;
    color: var(--node-text-color);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--node-border-color);
    border-radius: var(--border-radius);
    align-items: center;

    &:hover {
      border-color: var(--node-hover-border-color);
      color: var(--node-hover-text-color);
    }

    span {
      margin-left: 8px;
    }
  }

  &.isEditable {
    .itemWrap {
      pointer-events: none;

      &:hover {
        border-color: var(--semi-color-border);
        color: var(--semi-color-text-1);
      }
    }
  }
}
