.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  > header {
    position: relative;
    z-index: 110;
    height: 60px;
    background-color: var(--semi-color-nav-bg);
    user-select: none;

    > div {
      overflow: auto;
    }
  }

  > main {
    height: calc(100% - 60px);
    overflow: hidden;
    background-color: var(--semi-color-nav-bg);
    flex: 1;
  }
}

.editorWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  > header {
    position: relative;
    z-index: 110;
    display: flex;
    height: 50px;
    padding: 0 24px;
    overflow: hidden;
    background-color: var(--semi-color-nav-bg);
    align-items: center;
    border-bottom: 1px solid var(--semi-color-border);
    user-select: none;

    > div {
      display: inline-flex;
      align-items: center;
      height: 100%;
      overflow: auto;
    }

    &.isStandardWidth {
      > div {
        margin: 0 auto;
      }
    }

    &.isFullWidth {
      > div {
        margin: 0;
      }
    }
  }

  > main {
    flex: 1;
    height: calc(100% - 50px);
    overflow: auto;

    .contentWrap {
      padding: 24px 24px 96px;

      &.isStandardWidth {
        width: 96%;
        max-width: 750px;
        margin: 0 auto;
      }

      &.isFullWidth {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
