.navItemWrap {
  padding: 0 0.5rem;

  .navItem {
    display: flex;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: var(--semi-color-text-0);
    cursor: pointer;
    border-radius: var(--semi-border-radius-small);
    align-items: center;

    &:hover {
      color: var(--semi-color-text-0);
      background-color: var(--semi-color-fill-0);
    }

    &.isActive {
      color: var(--semi-color-text-0);
      background-color: var(--semi-color-primary-light-default);
    }

    > span {
      display: flex;
      align-items: center;
    }

    .icon {
      margin: 0 6px 0 4px;
    }

    .title {
      overflow: hidden;
      color: var(--semi-color-text-0);
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }
  }
}
