.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--semi-color-nav-bg);

  .headerWrap {
    position: sticky;
  }

  .adWrap {
    max-height: 180px;
    overflow: hidden;
  }

  .adAsideWrap {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 180px;
    height: 70px;

    >div {
      height: 100%;
    }
  }

  .contentWrap {
    flex: 1;
    overflow: hidden;
  }
}
