.wrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  .headerWrap {
    height: 60px;
    padding: 0 24px;
  }

  .contentWrap {
    flex: 1;
    overflow: hidden;

    > div {
      height: 100%;
      padding: 24px 16px 48px;
      overflow: auto;
    }

    .editorWrap {
      min-height: 100%;
      padding-bottom: 24px;
      margin: 0 auto;

      &.isStandardWidth {
        width: 96%;
        max-width: 750px;
      }

      &.isFullWidth {
        width: 100%;
      }
    }

    .commentWrap {
      padding: 16px 0 32px;
      border-top: 1px solid var(--semi-color-border);
    }
  }

  .mobileToolbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    height: 49px;
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    background: var(--semi-color-bg-1);
    box-sizing: content-box;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--semi-color-border);
  }
}
