.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--semi-color-nav-bg);

  > div {
    :global {
      .Pane2 {
        height: 100%;
        overflow: auto;
      }
    }
  }

  .leftWrap {
    position: relative;
    border-right: 1px solid var(--semi-color-border);

    .leftContentWrap {
      height: 100%;
    }

    .collapseBtn {
      position: absolute;
      top: 48px;
      right: 0;
      z-index: 100;
      opacity: 1;
      transform: translate(50%);
    }
  }

  .rightWrap {
    height: 100%;
  }
}
