.headerWrap {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 12px 24px;
  margin: 0 -24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--semi-color-border);

  > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.contentWrap {
  display: flex;
  height: calc(100vh - 56px);
  margin: 0 -24px;
  flex-wrap: nowrap;

  :global {
    .semi-navigation-inner {
      flex-direction: column;

      .semi-navigation-header-list-outer {
        flex: 1;
        height: calc(100% - 64px);
      }

      .semi-navigation-footer {
        display: block;

        .semi-navigation-collapse-btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }

  .selected {
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }
}
