.headerWrap {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 12px 24px;
  margin: 0 -24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--semi-color-border);

  > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.contentWrap {
  display: flex;
  height: calc(100vh - 56px);
  margin: 0 -24px;
  flex-wrap: nowrap;

  > aside {
    width: 240px;
    height: 100%;
    padding: 12px 0;
    flex-shrink: 0;
    border-right: 1px solid var(--semi-color-border);
    overflow: auto;

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;

      > li {
        width: 100%;
        padding: 12px 16px;
        font-size: 14px;
        color: var(--semi-color-text-0);
        text-align: center;
        cursor: pointer;
        border-radius: var(--semi-border-radius-small);

        &:hover {
          background-color: var(--semi-color-primary-light-default);
        }

        &.selected {
          color: var(--semi-color-primary);
          background-color: var(--semi-color-primary-light-default);
        }
      }
    }
  }

  > main {
    padding: 24px 0;
    overflow: auto;
    background-color: var(--semi-color-nav-bg);
    flex: 1;

    .editorWrap {
      min-height: 100%;
      padding: 12px 24px;
      background-color: var(--semi-color-bg-2);
      border: 1px solid var(--semi-color-border);
    }
  }
}
