.wrap {
  border: 1px solid var(--semi-color-border);
  border-radius: var(--border-radius);

  &.isPreviewing {
    &::after {
      background-color: transparent !important;
    }
  }

  > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    > div {
      flex: 1;
      overflow: auto;
    }

    > span {
      width: 64px;
      flex-shrink: 0;
    }
  }
}
