.wrap {
  margin-top: 0.75em;
  padding: 12px;
  border: 1px solid var(--semi-color-border);
  border-radius: var(--border-radius);

  &.isEditable {
    .itemWrap {
      pointer-events: none;

      &:hover {
        color: var(--semi-color-text-1);
        border-color: var(--semi-color-border);
      }
    }
  }

  .itemWrap {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 6px;
    text-decoration: none;
    color: var(--semi-color-text-1);
    border-radius: var(--border-radius);
    border: 1px solid var(--semi-color-border);
    cursor: pointer;

    &:hover {
      color: var(--semi-color-link);
      border-color: var(--semi-color-link);
    }

    span {
      margin-left: 8px;
    }
  }
}
