# 以下为前台动态渲染的配置，修改后，无需打包，重启服务即可
dynamic:
  # 输入 logo 的图片地址
  logo: ''
  appName: '云策文档'
  appDescription: '云策文档是一款开源知识管理工具。通过独立的知识库空间，结构化地组织在线协作文档，实现知识的积累与沉淀，促进知识的复用与流通。'
  appKeywords: '云策文档,协作,文档,fantasticit,https://github.com/fantasticit/think'
  # 版权信息，可以是 HTML
  copyrightInformation: '<p>Develop by fantasticit</p>'
  # 外部跳转按钮配置
  externalButtonText: 'Github'
  externalButtonURL: 'https://github.com/fantasticit/think'

# 开发环境配置
client:
  port: 5001
  assetPrefix: '/'
  apiUrl: 'http://localhost:5002/api'
  collaborationUrl: 'ws://localhost:5003'
  # 预先连接的来源，空格分割（比如图片存储服务器）
  dnsPrefetch: '//wipi.oss-cn-shanghai.aliyuncs.com'
  # 站点地址（如：https://think.codingit.cn/），一定要设置，否则会出现 cookie、跨域等问题
  siteUrl:
    'http://localhost:5001'
    # 一定要设置，否则会出现 cookie、跨域等问题，注意如果网页部署在 https://think.codingit.cn，那这里的值应当为 .codingit.cn（没有 think）
  siteDomain: ''

server:
  prefix: '/api'
  port: 5002
  collaborationPort: 5003
  maxDocumentVersion: 20 # 最大版本记录数
  logRetainDays: 3 # 日志保留天数，比如只保留近三天日志
  enableRateLimit: true # 是否限流
  rateLimitWindowMs: 60000 # 限流时间
  rateLimitMax: 1000 # 单位限流时间内单个 ip 最大访问数量
  email: # 邮箱服务，参考 http://help.163.com/09/1223/14/5R7P6CJ600753VB8.html?servCode=6010376 获取 SMTP 配置
    host: ''
    port: 465
    user: ''
    password: ''
  admin:
    name: 'admin' # 注意修改
    password: 'admin' # 注意修改
    email: 'admin@think.com' # 注意修改为真实邮箱地址

# 数据库配置
db:
  mysql:
    host: '127.0.0.1'
    username: 'think'
    password: 'think'
    database: 'think'
    port: 3306
    charset: 'utf8mb4'
    timezone: '+08:00'
    synchronize: true
  redis:
    host: '127.0.0.1'
    port: '6379'
    password: 'root'
    db: 0

# oss 文件存储服务
oss:
  local:
    enable: true
    # 线上更改为服务端地址（如：https://api.codingit.cn）
    server: 'http://localhost:5002'
  s3:
    enable: false
    config:
      # isp 提供商,可选 minio,s3,aliyun,tencent
      cloudisp: 'minio'
      accessKeyId: ''
      secretAccessKey: ''
      bucket: ''
      region: ''
      # 仅cloudisp 的值为 minio/s3 时配置，其它提供商为空
      forcePathStyle: false
      # 仅cloudisp 的值为 minio 时配置，其它提供商为空
      endpoint: ''

# jwt 配置
jwt:
  secretkey: 'zA_Think+KNOWLEDGE+WIKI+DOCUMENTS@2022'
  expiresIn: '6h'
