.ProseMirror {
  .tableWrapper {
    max-width: 100%;
    margin-top: .75em;
    overflow: auto;

    &.has-focus {
      padding: 1em 0 0 1em;
    }
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;

    td,
    th {
      position: relative;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      border-width: 1px;
      border-style: solid;
      border-color: var(--semi-color-fill-2);
      overflow: visible;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      background-color: var(--semi-color-fill-0);
    }

    .selectedCell {
      border-style: double;
      border-color: rgb(0 101 255);
      background: var(--semi-color-info-light-hover);
    }

    .grip-column {
      position: absolute;
      top: -1em;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: .7em;
      margin-bottom: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-row {
      position: absolute;
      top: 0;
      left: -1em;
      z-index: 10;
      display: block;
      width: .7em;
      height: 100%;
      margin-right: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-table {
      position: absolute;
      top: -1em;
      left: -1em;
      z-index: 10;
      display: block;
      width: .8em;
      height: .8em;
      cursor: pointer;
      background: #ced4da;
      border-radius: 50%;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .column-resize-handle {
      position: absolute;
      top: 0;
      right: -2px;
      bottom: -2px;
      width: 4px;
      pointer-events: none;
      background-color: #adf;
    }
  }
}
