.ProseMirror {
  .tableWrapper {
    max-width: 100%;
    overflow: auto;
    margin-top: 0.75em;

    &.has-focus {
      padding: 1em 0 0 1em;
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;

    td,
    th {
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: var(--semi-color-fill-2);
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      vertical-align: top;
      overflow: visible;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      background-color: var(--semi-color-fill-0);
    }

    .selectedCell {
      border-style: double;
      border-color: rgb(0 101 255);
      background: var(--semi-color-info-light-hover);
    }

    .grip-column {
      position: absolute;
      z-index: 10;
      display: block;
      width: 100%;
      height: 0.7em;
      left: 0;
      top: -1em;
      margin-bottom: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-row {
      position: absolute;
      z-index: 10;
      display: block;
      height: 100%;
      width: 0.7em;
      top: 0;
      left: -1em;
      margin-right: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-table {
      position: absolute;
      z-index: 10;
      display: block;
      width: 0.8em;
      height: 0.8em;
      top: -1em;
      left: -1em;
      border-radius: 50%;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .column-resize-handle {
      background-color: #adf;
      bottom: -2px;
      position: absolute;
      right: -2px;
      pointer-events: none;
      top: 0;
      width: 4px;
    }
  }
}
