/* stylelint-disable */
cmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

cmenu .menu-list {
  position: fixed;
  padding: 0;
  margin: 0;
  font: 300 15px Roboto, sans-serif;
  color: var(--semi-color-text-0);
  list-style: none;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 20%);
  background-color: var(--semi-color-nav-bg);
}

cmenu .menu-list * {
  transition: color 0.4s, background-color 0.4s;
}

cmenu .menu-list li {
  min-width: 150px;
  padding: 6px 10px;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid var(--semi-color-border);
}

cmenu .menu-list li a {
  color: #333;
  text-decoration: none;
}

cmenu .menu-list li.disabled {
  color: #5e5e5e;
}

cmenu .menu-list li.disabled:hover {
  cursor: default;
}

cmenu .menu-list li:hover {
  cursor: pointer;
}

cmenu .menu-list li:first-child {
  border-radius: 5px 5px 0 0;
}

cmenu .menu-list li:last-child {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

cmenu .menu-list li span:last-child {
  float: right;
}
