/* stylelint-disable */
.mind-elixir {
  position: relative;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.mind-elixir .hyper-link {
  text-decoration: none;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-size: 15px;
  user-select: none;
}

.map-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.map-container .focus-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.map-container .map-canvas {
  position: relative;
  width: 20000px;
  height: 20000px;
  background-color: var(--semi-color-fill-0);
  transform: scale(1);
  user-select: none;
  transition: all 0.3s;
}

.map-container .map-canvas .selected {
  outline: 2px solid #4dc4ff;
}

.map-container .map-canvas root {
  position: absolute;
}

tpc {
  border: 1px solid transparent;

  &::selection {
    background-color: transparent !important;
  }

  &.is-editing,
  &.selected {
    border: 1px solid rgb(9 109 217) !important;

    &::selection {
      background-color: rgb(180 213 254 / 50%) !important;
    }
  }
}

.map-container .map-canvas root tpc {
  display: block;
  padding: 10px 15px;
  font-size: 25px;
  color: #fff;
  white-space: pre-wrap;
  background-color: #3370ff;
  border: 1px solid transparent;
  border-radius: 5px;
}

.map-container .map-canvas root tpc #input-box {
  padding: 10px 15px;
}

.map-container .box > grp {
  position: absolute;
}

.map-container .box > grp > t > tpc {
  padding: 8px 10px;
  margin: 0;
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-fill-1);
  border-radius: 5px;
}

.map-container .box > grp > t > tpc #input-box {
  padding: 8px 10px;
}

.map-container .box .lhs {
  direction: rtl;
}

.map-container .box .lhs tpc {
  direction: ltr;
}

.map-container .box grp {
  display: block;
  pointer-events: none;
}

.map-container .box children,
.map-container .box t {
  display: inline-block;
  vertical-align: middle;
}

.map-container .box t {
  position: relative;
  padding: 0 15px;
  margin-top: 10px;
  cursor: pointer;
}

.map-container .box t tpc {
  position: relative;
  display: block;
  max-width: 800px;
  padding: 5px;
  line-height: 1;
  color: var(--semi-color-text-1);
  white-space: pre-wrap;
  pointer-events: all;
  border-radius: 3px;
}

.map-container .box t tpc #input-box {
  padding: 5px;
}

.map-container .box t tpc .tags {
  direction: ltr;
}

.map-container .box t tpc .tags span {
  display: inline-block;
  height: 16px;
  padding: 2px 4px;
  margin: 0;
  margin-top: 2px;
  margin-right: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #276f86;
  background: #d6f0f8;
  border-radius: 3px;
}

.map-container .box t tpc .icons {
  display: inline-block;
  direction: ltr;
  margin-right: 10px;
}

.map-container .box t tpc .insert-preview {
  position: absolute;
  left: 0;
  z-index: 9;
  width: 100%;
}

.map-container .box t tpc .before {
  top: -14px;
  height: 14px;
}

.map-container .box t tpc .show {
  pointer-events: none;
  background: #7ad5ff;
  opacity: 0.7;
}

.map-container .box t tpc .in {
  top: 0;
  height: 100%;
}

.map-container .box t tpc .after {
  bottom: -14px;
  height: 14px;
}

.map-container .box t epd {
  position: absolute;
  z-index: 9;
  width: 12px;
  height: 12px;
  line-height: 8px;
  color: #494c4f;
  text-align: center;
  pointer-events: all;
  background-color: #fff;
  border: 1px solid #4f4f4f;
  border-radius: 50%;
}

.map-container .box t epd.minus {
  transition: all 0.3s;
  opacity: 0;
}

.map-container .box t epd.minus:hover {
  opacity: 1;
}

.map-container .icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentcolor;
}

.map-container .svg2nd,
.map-container .svg3rd,
.map-container .topiclinks,
.map-container .linkcontroller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
}

.map-container .topiclinks,
.map-container .linkcontroller {
  pointer-events: none;
}

.map-container .topiclinks g,
.map-container .linkcontroller g {
  pointer-events: all;
}

.map-container .svg2nd,
.map-container .svg3rd {
  z-index: -1;
  pointer-events: none;
}

.map-container .topiclinks *,
.map-container .linkcontroller * {
  z-index: 100;
}

.map-container .topiclinks g {
  cursor: pointer;
}

.down t,
.down children {
  display: block !important;
}

.down grp {
  display: inline-block !important;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;
}

#input-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: max-content;
  max-width: 800px;
  background-color: #fff;
  direction: ltr;
  user-select: auto;
}
