/* stylelint-disable */
mmenu {
  position: absolute;
  bottom: 70px;
  left: 20px;
  z-index: 99;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 20%);
}

mmenu * {
  transition: color 0.4s, background-color 0.4s;
}

mmenu div {
  float: left;
  width: 30px;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border-bottom: 1px solid #ecf0f1;
}

mmenu div a {
  color: #333;
  text-decoration: none;
}

mmenu div.disabled {
  color: #5e5e5e;
  background-color: #f7f7f7;
}

mmenu div.disabled:hover {
  cursor: default;
  background-color: #f7f7f7;
}

mmenu div:hover {
  cursor: pointer;
  background-color: #ecf0f1;
}
