.wrap {
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 10vh 32px 48px;
  align-items: center;
  flex-direction: row;

  .hero {
    max-width: 53%;
    min-width: 53%;
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .wrap {
    flex-direction: column;

    .hero {
      max-width: 100%;
      min-width: 100%;
      margin-left: 0;
    }
  }
}
