/* stylelint-disable */
.wrap {
  height: 100%;
  padding-top: 12px;
  overflow: auto;
}

.titleWrap {
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--semi-color-fill-0);
  }

  &.isActive {
    font-weight: 600;
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }
}

.linkWrap {
  > a {
    display: flex;
    padding: 8px 12px;
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
    align-items: center;

    > span {
      margin-right: 6px;
    }
  }

  &:hover {
    background-color: var(--semi-color-fill-0);
  }

  &.isActive {
    font-weight: 600;
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }
}

.treeWrap {
  padding: 8px 12px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
  }

  :global {
    .semi-tree-option-list {
      overflow-y: hidden;
    }
  }
}

.treeInnerWrap {
  :global {
    .semi-tree-option-list-block .semi-tree-option-selected {
      font-weight: 600;
      color: var(--semi-color-primary);
      background-color: var(--semi-color-primary-light-default);
    }
  }

  .treeItemWrap {
    display: flex;
    height: 28px;
    line-height: 28px;
    color: inherit;

    .left {
      display: flex;
      align-items: center;
      width: calc(100% - 48px);
    }
  }
}

.hoverVisible {
  opacity: 0;

  &:hover,
  &.isActive {
    opacity: 1;
  }
}
