/* stylelint-disable */
.wrap {
  height: 100%;
  padding-top: 12px;
  overflow: auto;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  > main {
    flex: 1;
    overflow: auto;
  }
}

.titleWrap {
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;

  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: var(--semi-color-fill-0);
  }

  &.isActive {
    font-weight: 600;
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }
}

.linkWrap {
  > a {
    display: flex;
    padding: 8px 12px;
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    color: var(--semi-color-text-0);

    > span {
      margin-right: 6px;
    }
  }

  &:hover {
    background-color: var(--semi-color-fill-0);
  }

  &.isActive {
    font-weight: 600;
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }
}

.treeWrap {
  padding: 8px 12px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
  }

  :global {
    .semi-tree-option-list {
      overflow-y: hidden;
    }
  }
}

.treeInnerWrap {
  :global {
    .semi-tree-option-list-block .semi-tree-option-selected {
      font-weight: 600;
      color: var(--semi-color-primary);
      background-color: var(--semi-color-primary-light-default);
    }
  }

  .treeItemWrap {
    display: flex;
    height: 28px;
    line-height: 28px;
    color: inherit;

    .left {
      display: flex;
      align-items: center;
      width: calc(100% - 48px);
    }
  }
}

.hoverVisible {
  opacity: 0;

  &:hover,
  &.isActive {
    opacity: 1;
  }
}

.navItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--semi-color-text-0);

  &.hoverable {
    &:hover {
      color: var(--semi-color-text-0);
      background-color: var(--semi-color-fill-0);
    }
  }

  &.isActive {
    font-weight: 600;
    color: var(--semi-color-primary);
    background-color: var(--semi-color-primary-light-default);
  }

  .navItem {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--semi-border-radius-small);
    align-items: center;

    > span {
      display: flex;
      align-items: center;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 24px;
      min-height: 24px;
      margin: 0 6px 0 0;

      :global {
        .semi-icon-default {
          font-size: 24px;
        }
      }
    }

    .title {
      overflow: hidden;
      color: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }
  }
}
