.wrap {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 240px;
  overflow: hidden;
  flex-direction: column;

  > header {
    z-index: 110;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0 24px;
    overflow: hidden;
    background-color: var(--semi-color-nav-bg);
    align-items: center;
    border-bottom: 1px solid var(--semi-color-border);
    user-select: none;

    &.mobileToolbar {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      display: flex;
      height: 49px;
      padding-right: env(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
      background: var(--semi-color-bg-1);
      box-sizing: content-box;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid var(--semi-color-border);

      &.keyUp {
        position: absolute;
      }
    }
  }

  > main {
    position: relative;
    display: flex;
    overflow: auto;
    /* stylelint-disable-next-line */
    overflow: overlay;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

    .contentWrap {
      width: 100%;

      &.isStandardWidth {
        max-width: 750px;
      }

      &.isFullWidth {
        max-width: 100%;
      }

      .commentWrap {
        padding: 16px 0 64px;
        border-top: 1px solid var(--semi-color-border);
      }
    }

    .tocsWrap {
      position: relative;
    }
  }
}
