.wrap {
  position: relative;

  .handleWrap {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    border-bottom: 1px solid var(--node-border-color);
    background-color: var(--semi-color-fill-0);

    .selectorWrap {
      margin-right: 8px;
    }
  }

  &.maxHeight {
    code {
      max-height: 370px;
    }
  }
}
