.wrap {
  margin-top: 12px;

  &.isEditable {
    padding: 12px;
    background-color: var(--semi-color-fill-0);

    &:hover {
      background-color: var(--semi-color-fill-1);
    }

    .itemWrap {
      pointer-events: none;

      &:hover {
        color: var(--semi-color-text-1);
        border-color: var(--semi-color-border);
      }
    }
  }

  .itemWrap {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--semi-color-border);
    margin-top: 12px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--semi-color-text-1);

    &:hover {
      color: var(--semi-color-link);
      border-color: var(--semi-color-link);
    }

    span {
      margin-left: 8px;
    }
  }

  .empty {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--semi-color-border);
    margin-top: 12px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--semi-color-text-1);
    cursor: not-allowed;
  }
}
