.wrap {
  margin-top: 0.75em;
  border-radius: var(--border-radius);

  &.isEditable {
    padding: 12px;

    .itemWrap {
      pointer-events: none;
      margin-top: 12px;
    }

    .empty {
      margin-top: 12px;
    }
  }

  .itemWrap {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--semi-color-border);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--semi-color-text-1);

    &:hover {
      color: var(--semi-color-link);
      border-color: var(--semi-color-link);
    }

    span {
      margin-left: 8px;
    }
  }

  .empty {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--semi-color-border);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--semi-color-text-1);
    cursor: not-allowed;
  }
}
