.wrap {
  position: relative;

  .handleWrap {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    background-color: var(--semi-color-fill-0);
    border-bottom: 1px solid var(--semi-color-border);

    .selectorWrap {
      margin-right: 8px;
    }
  }
}
