.wrap {
  position: relative;
  max-width: 100%;
  overflow: visible;
  line-height: 0;

  .renderWrap {
    display: flex;
    border: 1px solid var(--node-border-color);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;

    &::after {
      background-color: transparent !important;
    }

    svg {
      background-color: transparent !important;
    }
  }

  .title {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    .icon {
      display: flex;
      width: 18px;
      height: 18px;
      color: #fff;
      background-color: #f80;
      border-radius: 2px;
      justify-content: center;
      align-items: center;
    }
  }

  .toolbarWrap {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    display: flex;
    padding: 2px 4px;
    overflow-x: auto;
    color: #fff;
    background-color: var(--semi-color-nav-bg);
    border: 1px solid var(--semi-color-border);
    border-radius: 3px;
    align-items: center;
    box-shadow: var(--box-shadow);
  }
}
