@import '~@douyinfe/semi-ui/dist/css/semi.min.css';
@import './var.scss';
@import './reset.scss';
@import './editor/index.scss';

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

.Resizer {
  background: var(--semi-color-border);
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 1px;
  margin: -5px 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.Resizer.vertical {
  width: 1px;
  margin: 0 -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.semi-navigation-sub-title-selected {
  background-color: var(--semi-color-primary-light-default);
  color: var(--semi-color-text-0);
}

.semi-spin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// @see https://github.com/react-component/tooltip/issues/18#issuecomment-411476678
.semi-button-disabled {
  pointer-events: none;
}
