.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.ProseMirror {
  color: var(--semi-color-text-0);
  white-space: break-spaces;
  word-break: break-word;
  word-wrap: break-word;
  font-family: 'Chinese Quote', 'Segoe UI', Roboto, RobotoNum, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.008em;
  line-height: 1.74;
  outline: none !important;

  &:focus-visible {
    outline: none;
  }

  .is-empty {
    &.has-focus {
      &::before {
        content: attr(data-placeholder);
        float: left;
        color: #aaa;
        pointer-events: none;
        height: 0;
      }
    }

    &.node-codeBlock::before {
      transform: translate(10px, 10px);
    }
  }

  hr {
    border: 0;
    height: 2px;
    background: var(--semi-color-border);
    margin: 18px 0;
  }

  ol,
  ul {
    padding-left: 28px;
  }

  li > ul,
  li > ol,
  ul > ul,
  ol > ol {
    margin-top: 0;
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ol ol ol ol,
  ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
  }

  ol ol,
  ol ol ol ol ol,
  ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol,
  ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  .title {
    font-size: 2.4em;
    font-weight: bold;
    color: var(--semi-color-text-0);
    margin: 10px 0 22px;
    border-bottom: 1px solid var(--semi-color-border);

    &.is-empty::before {
      content: attr(data-placeholder);
      float: left;
      color: #aaa;
      pointer-events: none;
      height: 0;
    }
  }

  h1 {
    font-size: 1.87em;
    margin: 26px 0 12px 0;
  }

  h2 {
    font-size: 1.6em;
    margin: 21px 0 12px 0;
  }

  h3 {
    font-size: 1.3em;
    margin: 16px 0 12px 0;
  }

  h4 {
    font-size: 1.1em;
    margin: 14px 0 12px 0;
  }

  h5 {
    font-size: 1em;
    margin: 5px 0 12px 0;
  }

  h6 {
    font-size: 1em;
    margin: 0 0 12px 0;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  a {
    color: var(--semi-color-link);
    text-decoration: underline;
  }

  img {
    border-radius: var(--border-radius);
    border: 1px solid var(--semi-color-border);
  }

  p {
    font-size: 1em;
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 16px;
      cursor: pointer;

      > span {
        position: absolute;
        left: 0;
        top: 6px;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid var(--semi-color-border);
        border-radius: 2px;
        background-color: #fff;

        &::after {
          content: ' ';
          position: absolute;
          left: 4.071429px;
          top: -0.357143px;
          width: 6.714286px;
          height: 12.142857px;
          border: 2px solid #fff;
          border-top: 0;
          border-left: 0;
          transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
          transform: rotate(45deg) scale(0);
          opacity: 0;
        }
      }

      > div {
        flex: 1 1 auto;
        padding-left: 0.5rem;
      }

      &[data-checked='true'] {
        color: var(--semi-color-text-2);

        > span {
          background-color: var(--semi-color-primary);

          &::after {
            opacity: 1;
            transform: rotate(45deg) scale(1);
          }
        }

        > div {
          p {
            text-decoration: line-through;
          }
        }
      }
    }
  }

  blockquote {
    box-sizing: border-box;
    padding-left: 10px;
    border-left: 2px solid var(--semi-color-fill-2);
    margin: 0.75rem 0;
  }

  code {
    cursor: text;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: var(--border-radius);
    padding: 4px;
    line-height: 1.3;
    background-color: var(--semi-color-fill-1);
    font-family: Consolas, Menlo, Courier, monospace;
  }

  pre {
    position: relative;
    border-radius: var(--border-radius);
    margin: 0.75rem 0px;
    counter-reset: line 0;
    display: flex;
    min-width: 48px;
    overflow-x: auto;
    line-height: 1.3;
    background-color: #0d0d0d;
    background-color: var(--semi-color-fill-0);
    border: 1px solid var(--semi-color-border);

    code {
      color: inherit;
      font-size: 0.875rem;
      line-height: 1.5rem;
      border-radius: var(--border-radius);
      margin: 8px;
      padding: 0;
      white-space: pre;
      background-color: transparent;

      width: 100%;
      max-height: 370px;
      overflow: auto;
      overscroll-behavior: contain;
    }
  }

  .tableWrapper {
    max-width: 100%;
    margin: 1em 0;
    overflow: auto;

    &.has-focus {
      padding-left: 1em;
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1em 0;

    td,
    th {
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: var(--semi-color-fill-2);
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      vertical-align: top;
      overflow: visible;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
    }

    .selectedCell {
      border-style: double;
      border-color: var(--semi-color-info);
      background: var(--semi-color-info-light-hover);
    }

    .grip-column {
      position: absolute;
      z-index: 10;
      display: block;
      width: 100%;
      height: 0.7em;
      left: 0;
      top: -1em;
      margin-bottom: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-row {
      position: absolute;
      z-index: 10;
      display: block;
      height: 100%;
      width: 0.7em;
      top: 0;
      left: -1em;
      margin-right: 3px;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .grip-table {
      position: absolute;
      z-index: 10;
      display: block;
      width: 0.8em;
      height: 0.8em;
      top: -1em;
      left: -1em;
      border-radius: 50%;
      cursor: pointer;
      background: #ced4da;

      &:hover,
      &.selected {
        background: var(--semi-color-info);
      }
    }

    .column-resize-handle {
      background-color: #adf;
      bottom: -2px;
      position: absolute;
      right: -2px;
      pointer-events: none;
      top: 0;
      width: 4px;
    }
  }

  .search-result {
    background: rgb(255, 217, 0);
  }

  .search-result-current {
    background: rgb(255, 0, 0);
  }
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
