:root {
  --border-radius: 4px;
  --box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;

  --node-border-color: rgb(28 31 35 / 8%);
  --node-hover-border-color: #bacefd; // 自定义节点 hover
  --node-selected-border-color: rgb(0 101 255); // 自定义节点选中
}
