.items {
  width: 160px;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
  box-shadow: rgb(9 30 66 / 31%) 0 0 1px, rgb(9 30 66 / 25%) 0 4px 8px -2px;
}

.item {
  display: flex;
  width: 100%;
  padding: 12px 12px 11px;
  color: rgb(9 30 66);
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(255 255 255);
  border: 0;
  border-radius: 0;
  flex: 0 0 auto;
  align-items: center;

  &:hover {
    background-color: #f4f5f7;
  }

  &.is-selected {
    color: rgb(0 82 204);
    text-decoration: none;
    background-color: rgb(222 235 255);
    fill: rgb(222 235 255);
  }

  img {
    width: 1em;
    height: 1em;
  }
}
