.items {
  border-radius: var(--border-radius);
  background-color: var(--semi-color-bg-0);
  box-shadow: rgb(9 30 66 / 31%) 0px 0px 1px, rgb(9 30 66 / 25%) 0px 4px 8px -2px;
  width: 200px;
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  align-items: center;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  fill: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 12px 11px;
  width: 100%;
  border: 0;
  outline: 0;

  &:hover {
    background-color: #f4f5f7;
  }

  &.is-selected {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 82, 204);
    fill: rgb(222, 235, 255);
    text-decoration: none;
  }

  img {
    width: 1em;
    height: 1em;
  }
}
