.cardWrap {
  width: 100%;

  > a {
    display: flex;
    width: 100%;
    max-height: 260px;
    padding: 12px 16px 16px;
    margin: 8px 0;
    cursor: pointer;
    border: 1px solid var(--semi-color-border);
    border-radius: 5px;
    flex-direction: column;

    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      color: var(--semi-color-primary);

      .rightWrap {
        opacity: 0;
      }
    }

    &:hover {
      box-shadow: var(--box-shadow);

      > header .rightWrap {
        opacity: 1;
      }
    }

    > footer {
      margin-top: 12px;
    }
  }
}
