.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 8px 16px;
  border: 1px solid var(--semi-color-border);
  border-radius: var(--border-radius);
}
