.coverWrap {
  display: flex;
  flex-wrap: nowrap;

  .cover {
    margin-right: 24px;

    img {
      width: 104px;
      height: 96px;
      border-radius: 4px;
      margin-bottom: 16px;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    .placeholderWrapper {
      display: flex;
      flex-wrap: nowrap;

      .coverPlaceholder {
        flex-shrink: 0;
        width: 96px;
        height: 96px;
        cursor: pointer;

        & + .coverPlaceholder {
          margin-left: 16px;
        }

        img {
          width: 96px;
          height: 96px;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .coverWrap {
    flex-wrap: wrap;

    .cover {
      width: 100%;
      margin-right: 0;
    }
  }

  .right {
    width: 100%;

    .placeholderWrapper {
      width: 100%;
      overflow: auto;
      margin: 16px 0;

      .coverPlaceholder {
        flex-shrink: 0;
      }
    }
  }
}
