/* 自定义节点样式 */
/* stylelint-disable */
.ProseMirror {
  .node-status {
    margin-right: 4px;

    .semi-tag-default {
      border: 1px solid var(--node-border-color);
    }
  }

  .node-codeBlock,
  .node-katex,
  .node-documentChildren,
  .node-documentReference {
    user-select: none;

    .render-wrapper {
      border: 1px solid var(--node-border-color);
    }
  }

  .node-codeBlock,
  .node-katex,
  .node-documentChildren {
    .render-wrapper {
      border-radius: var(--border-radius);
    }
  }

  .node-attachment,
  .node-callout,
  .node-countdown,
  .node-iframe,
  .node-image,
  .node-katex,
  .node-mind,
  .node-flow,
  .node-codeBlock,
  .node-documentChildren,
  .node-documentReference,
  .node-excalidraw,
  .node-columns {
    margin-top: 0.75em;
  }

  .node-attachment,
  .node-countdown,
  .node-iframe,
  .node-image,
  .node-codeBlock,
  .node-documentChildren,
  .node-documentReference {
    width: 100%;
  }

  .node-attachment,
  .node-countdown,
  .node-iframe,
  .node-katex,
  .node-mind,
  .node-flow,
  .node-codeBlock,
  .node-documentChildren,
  .node-documentReference,
  .node-excalidraw {
    .render-wrapper {
      position: relative;
      user-select: text;

      &:hover,
      &:active {
        border: 1px solid var(--node-hover-border-color);
      }
    }
  }

  .node-image {
    .render-wrapper {
      position: relative;

      &:hover,
      &:active {
        &::after {
          position: absolute;
          pointer-events: none;
          background-color: transparent;
          border: 1px solid var(--node-hover-border-color) !important;
          border-radius: var(--border-radius);
          content: '';
          inset: 0;
        }
      }
    }
  }
}
