.ProseMirror {
  .node-title {
    position: relative;
    margin: 12px 0 24px;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--semi-color-text-0);
    border-bottom: 1px solid var(--semi-color-border);

    &::before {
      position: absolute;
      bottom: 0;
      height: 0;
      color: #aaa;
      pointer-events: none;
      content: attr(data-placeholder);
      transform: translateY(-1.7em);
    }
  }
}
