.ProseMirror {
  .node-title {
    position: relative;
    margin: 12px 0 24px;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--semi-color-text-0);
    border-bottom: 1px solid var(--semi-color-border);

    &::before {
      position: absolute;
      height: 0;
      color: var(--semi-color-text-0);
      pointer-events: none;
      content: attr(data-placeholder);
    }
  }

  &.is-withauthor {
    .node-title::before {
      bottom: 0;
      transform: translateY(-4.2em);
    }
  }

  &.is-editable {
    .node-title::before {
      bottom: 0;
      color: #aaa;
      transform: translateY(-1.7em);
    }
  }
}
