.wrap {
  border-radius: var(--border-radius);

  .itemWrap {
    display: flex;
    padding: 8px;
    color: var(--node-text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    align-items: center;

    &:hover {
      border-color: var(--node-hover-border-color);
      color: var(--node-hover-text-color);
    }

    span {
      margin-left: 8px;
    }
  }

  .empty {
    display: flex;
    padding: 8px;
    color: var(--node-text-color);
    text-decoration: none;
    cursor: not-allowed;
    border-radius: var(--border-radius);
    align-items: center;
  }
}
